OPENAI_API_KEY=your_api_key
DATABASE_URL=your_db_url

SECRET_KEY=change-this-to-a-secure-random-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080
PROJECT_NAME=TintTQ AI
API_V1_STR=/api/v1
UPLOAD_DIR=app/uploads
GENERATED_DIR=app/generated
YOLO_MODEL_PATH=models/yolov8/tint_detector.py